*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

html {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.15;
    font-size: 62.5%;
    text-decoration: none;
    list-style: none;
    outline: none;
}

body {
    line-height: 1.2em;
    font-weight: 400;
    background: #1e2129;
    color: #8e95a5;
}

.container {
    max-width: 1600px;
    width: 100%;
    padding: 0rem 2rem;
}

/* Main wrapper */

#main-wrapper {
    display: flex;
    justify-content: center;
}

.section-film {
    margin: 8rem 0rem;
}

.heading {
    font-size: 2.5rem;
    padding: .5rem 0 .5rem 1rem;
    border-left: .5rem solid #00acc1;
    margin-bottom: 4rem;
}

.film-list-grid {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

.film-list-grid .film-item {
    background-color: transparent;
    border-radius: .5rem;
}

.film-poster {
    width: 100%;
    padding-bottom: 138%;
    position: relative;
    overflow: hidden;
    border-radius: 0;
}

.film-poster img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.film-detail {
    padding: 1rem 1rem;
    background: #2f3441;
}

.film-infor {
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.film-infor-item {
    margin-right: .8rem;
}

.film-infor-item .fa-star {
    color: #17a2b8;
}

.film-name {
    margin-bottom: 2rem;
}

.film-name a {
    text-decoration: none;
    color: #fff;
}

.film-name a:hover {
    color: #17a2b8;
}

.film-btn {
    width: 100%;
}

.btn {
    width: 100%;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #212529;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    font-size: 1.3rem;
    border-radius: .3rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-play {
    background: #404757;
    border-color: #404757;
    color: #fff;
}

.btn-play i {
    margin-right: 1rem;
}

.btn-play:hover {
    background: #51596c;
    border-color: #51596c;
    color: #fff;
}

/* Footer */

#footer {
    display: flex;
    justify-content: center;
}

#footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link {
    margin-bottom: 2rem;
}

.footer-link-ul {
    font-size: 1.5rem;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    text-align: center;
}

.footer-link-ul li {
    margin-right: 3rem;
    display: inline-block;
    text-align: center;
}

.footer-link-ul li:last-child {
    margin-left: 0rem;
}

.footer-link-ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-link-ul li a:hover {
    cursor: pointer;
}

#footer-about {
    padding: 0px 0px 40px;
    display: flex;
    justify-content: center;
}

#footer-about .about-text {
    color: rgb(136, 136, 136);
    max-width: 80rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: 1.4rem;
    margin: 0 auto 2rem;
}

.copyright {
    text-align: center;
    font-size: 1.3rem;
}

/* Media query */

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
    .film-list-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    }
}

@media screen and (max-width: 576px) {
    .container {
        padding: 0 1rem;
    }
    .footer-link-ul {
        font-size: 1.2rem;
    }
    .footer-link-ul li {
        margin-right: 1.5rem;
        display: inline-block;
    }
    #footer-about .about-text {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 400px) {
    .btn {
        padding: .1rem .3rem;
    }
}